*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color: black;
}

h1 {
    font-style: italic;
    color: red;
    background-color:aliceblue;
}